/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

figcaption {
    color: rgb(0, 0, 0);
    font: italic smaller sans-serif;
    padding: 10px 15px 15px;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
}

h1 {
	background-color: rgb(255, 132, 0);
	color: rgb(255, 255, 255); 
    font-size: 35px;
 	padding: 30px 30px 10px; /* You want three values. */
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
	
}

h2 {
	background-color: rgb(255, 132, 0);
	color: rgb(231, 218, 195);
	font-size: 25px;
	padding: 2px 30px 30px;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
}

h3 {
    padding: 10px 15px 5px;
    color: rgb(255, 132, 0);
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;  
}

body {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

ul {
	margin: 0.1em 1em 0.1em; 
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

ol {
    margin: 0.1em 1em 0.1em; 
    padding-bottom: 30px;
}

li { 
	margin: 15px 10px 15px; 
}

footer{
    background-color: rgb(255, 132, 0);
    color:rgb(255, 255, 255);
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    padding: 20px;
}
/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
